
#titles{
    text-align: center;
    font-family: fantasy;
    text-align: center;
}
nav > ul > li {
  display: inline;
  margin: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav > li {
  text-decoration: none;
}
nav > ul{
  display: flex;
}
nav li{
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: black;
}
nav li:hover{
  background-color: rgb(110, 110, 110);
}
.name{
    background-color: yellow;
    text-align: center;
    width: 25%;
}
h3{
    text-align: center;
}
.info{
    text-align: center;
}
.margin{
    color: rgb(0, 0, 0);
    background-color: orange;
    margin: 5px;
    border: 10px solid;
    border-color: rgba(248, 6, 6, 0.459);
    border-radius: 30px;
    width: 30%;
    height: 30%;
  display: inline-block;
}
h1:hover{
    font-size: 40px;
    color: orange;
}
body{
    counter-reset: section; 
}
p::before {
    counter-increment: section; /* Increment the value of section counter by 1 */
    content: "Hobby " counter(section) ": "; /* Display counter value in default style (decimal) */
  }
  .container{
    background-color: lightblue;
    text-align: center;

  }
  div{
    height: 100px;
    width: 100px;
  }
  #first{
    background-color: red;
    position:relative ;
    left: 21px;
  }
  #second{
    background-color: blue;
    position:relative;
    top:0px;
    

  }
  #third{
    background-color: yellow;
  }
 table,th,td{
  border: black solid;
 }